    <footer>
      <div class="logo">
        <img src="/assets/images/sac.png">
      </div>
      <div class="social">
        <ul>
          {% for item in site.data.social %}
          <li><a href="{{ item.link }}"><img src="{{ item.image }}"></a></li>
          {% endfor %}
        </ul>
      </div>
    </footer>

    <script type="text/javascript" src="/assets/scripts/main.js"></script>

  </body>
</html>
