@mixin valign($align) {
  display: -webkit-flex;
  display: flex;

  -webkit-align-items: $align;
  align-items: $align;
}

@mixin flexalign($main, $cross) {
  display: -webkit-flex;
  display: flex;

  -webkit-align-items: $cross;
  align-items: $cross;
  -webkit-justify-content: $main;
  justify-content: $main;
}
