---
---

@charset 'utf-8';

/* Reset */
@import 'reset.scss';

/* Colors */
@import 'colors.scss';

/* Mixins */
@import 'mixins.scss';

/* GeNeRiC */
$sans: 'Fira Sans', sans-serif;
$base: 1.6rem;

body {
  background: $white;
  color: $black;
  font-family: $sans;
  font-size: $base;
  margin: 0 auto;

  & > * {
    margin-bottom: 2.4rem;
  }
}

h2 {
  font-size: 1.8*$base;
}

h3 {
  font-size: 1.35*$base;
}

blockquote {
  color: $grey;
  padding-left: 1.8rem;
  border-left: 4px solid #ccc;
}

/* Links */
a {
  outline: none;
  text-decoration: none;

  &:link {
    color: $pitch;
  }

  &:visited {
    color: $pitch;
  }

  &:focus {
    color: $pitch;
  }

  &:hover,
  &:active {
    background: $lightblue;
  }
}

/* Header */
header {
  display: flex;
  font-size: 1.05*$base;
  padding: 2rem 2rem 0;

  h1 {
    font-size: 1.1*$base;
    flex: 1;
  }

  ul {
    text-align: right;
    list-style: none;
    flex: 3;
  }
  
  li {
    display: inline-block;
    margin-left: 0.5rem;
  }
}

nav {
  display: flex;
  width: 100%;
  text-align: right;

  ul {
    flex: 10;
  }
}

#hamburger {
    flex: 1;
    width: 100%;
    display: none;
}

header button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  vertical-align: bottom;

  img {
    max-width: 2.4rem;
    vertical-align: bottom;
  }
}

/* Main */
main {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 2rem;
  padding-bottom: 4rem;

  & > * {
    margin-bottom: 2.4rem;
  }
}

section {
  & > * {
    margin-bottom: 1.4rem;
  }

  h3 {
    margin-bottom: 0.5rem;
  }
}

.date {
  color: $grey;
}

.guest {
}

/* Footer */
footer {
  background: $lightestblue;
  position: relative;

  ul {
    list-style: none;
    display: inline-block;
  }
  
  li {
    display: inline-block;
    margin: 0 0.6rem;
  }

  a {
    outline: none;
    text-decoration: none;
  
    &:link,
    &:visited {
      opacity: 0.8;
    }
  
    &:focus {
    }
  
    &:hover,
    &:active {
      opacity: 0.9;
      background: unset;
    }
  }
}

.logo {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 11rem;

  img {
    max-width: 10rem;
//    filter: drop-shadow(0 0 0.5rem $shadow)
  }
}

.social {
  text-align: center;
  margin: 6rem auto;

  img {
    max-width: 28px;
  }
}


/* begin: make footer stick to bottom */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
  margin-bottom: unset;
}
/* end: make footer stick to bottom */

/* Cover art */
#about-cover {
  width: 30%;
  float: right;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

/* Media Rules */
@media (max-width: 520px) {
  #hamburger {
    display: unset;
  }

  nav ul {
    display: none; 
  }
}
