---
layout: default
---

<h2>{{ page.title }}</h2>
<p class="date">Published {{ page.date | date: "%B %d, %Y" }}</p>

<audio controls preload='auto' style='width: 100%;'><source src='{{ page.audio | relative_url }}'></audio>

{{ content }}

<p>
  NiSERCast on <a href="{{ site.data.podcast.apple }}">Apple Podcasts</a>
               <a href="{{ site.data.podcast.google }}">Google Podcasts</a> and 
               <a href="{{ site.data.podcast.spotify }}">Spotify</a>
</p>

<p>
  <a href="/rss.xml">Link to the RSS feed</a>
</p>

